body {
  background: url("../resources/paul-hanaoka-bookshelf-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  background-color: rgb(177, 255, 195);
}

h2, h3 {
  font-family: Verdana, Tahoma, sans-serif;
  color:rgb(255, 56, 149);
  font-weight: bold;
  opacity: 1;
  position: relative;
}

#header {
  opacity: 1;
  font-size: 2rem;
}

.book-list {
  opacity: 1;
  margin-top: 50px;
  visibility: hidden;
}

